body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F6F6F6;
}

.hidden {
    display: none;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

button {
    margin: 0 auto;
    display: block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    cursor: pointer;
}

.log_checkbox {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid #000000;
}
select{
    color: currentColor;
    border: 1px solid #000000;
}